# MacOS specific
.DS_Store

# Virtual environment
venv/

# Output directory
out/

# Tokenizer data
src/tokenizers/nltk
src/tokenizers/indic_nlp_resources

# Pycaches
src/__pycache__
src/tokenizers/__pycache__
src/test/parser/__pycache__
src/test/tokenizers/__pycache__